@use "../abstracts" as *;
// ==========================================================================
// 1. レイアウト・インナー幅（中央寄せ基盤）
// ==========================================================================
.u-wrap {
    width: 100%;
    max-width: $inner-max;
    padding-left: $inner-padding;
    padding-right: $inner-padding;
    margin-left: auto;
    margin-right: auto;
}

// ==========================================================================
// 2. フレックスボックス（レイアウトの補助用）
// ==========================================================================
.u-flex {
    display: flex !important;
}

// ==========================================================================
// 3. バリデーションエラー
// ==========================================================================
.u-error {
    @include font-set("body") {
        color: color("danger");
    }
}
